<nav class="navbar bg-red-800">
    <div class="container-fluid">
      <h1 class="navbar-brand">Result Management System</h1>     
    </div>
</nav>

<!-- <style>
    .container-fluid{
        background-color: gainsboro;
        text-align: center;
        font-size: xx-large;
        padding: 20px;
        
    }
</style> -->