<style>
    .navbar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 9999;
    }
  </style>
  
  <nav class="navbar text-3xl text-center font-bold p-5 bg-bluex text-bg">
    <div class="container-fluid">
      <h1 class="navbar-brand">Result Management System</h1>     
    </div>
  </nav>
  