<%- include("partials/navbar"); -%>

<p class="text">Login as</p>
<div class="teachLog">
  <button type="button" class="btn">
    <a href="/teacher/login">Teacher</a>
  </button>
  <!-- <h1>Don't have an account yet?</h1>
  <button type="button" class="btn">Register here</button> -->

  <button type="button" class="btn">
    <a href="/student/login">Student</a>
  </button>
</div>
