<%- include("partials/navbar"); -%>

<title>Result Management</title>
<div class="bg-bg text-2xl h-screen flex flex-col items-center justify-center">
  <p class="font-bold">Login as</p>
  <div class="flex flex-row my-5 text-bg">
    <button type="button" class="bg-lightblue text-white p-4 rounded-2xl mx-2">
      <a href="/teacher/portal" class="btn-link">Teacher</a>
    </button>
    <button type="button" class="bg-lightblue text-white p-4 rounded-2xl mx-2">
      <a href="/student/login" class="btn-link">Student</a>
    </button>
  </div>
</div>
