<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <!-- Tailwind CSS -->
    <link href="/public/output.css" rel="stylesheet">
    <!-- Custom styles -->
    <link href="/public/styles.css" rel="stylesheet">

    <title>Result Management Application</title>
</head>
<body>
  <%- include("partials/navbar"); -%>
    <%- body %>
    
</body>
<script src="https://cdn.tailwindcss.com"></script>
<script>
  tailwind.config = {
    theme: {
      extend: {
        colors: {
          bg: '#e0e8f1',
          bluex:'#27248e',
          lightblue:'#187fde'
        }
      }
    }
  }
</script>
</html>
