<!DOCTYPE html>
<html>
<head>
  <title>Add Result</title>
</head>
<body>
  <h1>Add Result</h1>
  <!-- Add result form -->
  <form action="/teacher/addresult" method="POST">
    <!-- Roll number input -->
    <label for="rollNumber">Roll Number:</label>
    <input type="text" id="rollNumber" name="rollNumber" required><br>

    <!-- Date of birth input -->
    <label for="dob">Date of Birth:</label>
    <input type="date" id="dob" name="dob" required><br>

    <!-- Name input -->
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br>

    <!-- Total score input -->
    <label for="totalScore">Total Score:</label>
    <input type="number" id="totalScore" name="totalScore" required><br>

    <button type="submit"><a href="/teacher/dashboard">Add Result</a>
      </button>
  </form>
</body>
</html>
