<!-- views/teacher/dashboard.ejs -->

<h1>Teacher Dashboard</h1>

<table>
  <thead>
    <tr>
      <th>Roll Number</th>
      <th>Date of Birth</th>
      <th>Name</th>
      <th>Total Score</th>
    </tr>
  </thead>
  <tbody>
    <% results.forEach((result) => { %>
    <tr>
      <td><%= result.rollNumber %></td>
      <td><%= result.dob %></td>
      <td><%= result.name %></td>
      <td><%= result.totalScore %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
