
<title>Portal</title>
<div class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="bg-white text-2xl h-screen flex flex-col items-center justify-center">
      <h1 class="font-bold text-3xl mb-8">Welcome to the Teacher Portal</h1>
      <button type="button" class="bg-lightblue text-white p-4 rounded-lg mb-4">
        <a href="/teacher/login" class="btn-link">Login</a>
      </button>
      <h1 class="text-xl mb-2">Don't have an account?</h1>
      <button type="button" class="bg-lightblue text-white p-4 rounded-lg">
        <a href="/teacher/register" class="btn-link">Register</a>
      </button>
    </div>
</div>