<h1>Welcome to teacher portal</h1>

<button type="button" class="btn">
    <a href="/teacher/login">Login</a>
</button>
<h1>Don't have an account?</h1>
<button type="button" class="btn">
    <a href="/teacher/register">Register</a>
</button>